xml-resources/web-service-references/UniversityWS/wsdl/localhost_8080/UniversityWS/UniversityWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://UniversityWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://UniversityWS/" name="UniversityWS">
<types>
<xsd:schema>
<xsd:import namespace="http://UniversityWS/" schemaLocation="http://localhost:8080/UniversityWS/UniversityWS?xsd=1"/>
</xsd:schema>
</types>
<message name="AllComunidadA">
<part name="parameters" element="tns:AllComunidadA"/>
</message>
<message name="AllComunidadAResponse">
<part name="parameters" element="tns:AllComunidadAResponse"/>
</message>
<message name="InsertarCA">
<part name="parameters" element="tns:InsertarCA"/>
</message>
<message name="InsertarCAResponse">
<part name="parameters" element="tns:InsertarCAResponse"/>
</message>
<message name="AllStudents">
<part name="parameters" element="tns:AllStudents"/>
</message>
<message name="AllStudentsResponse">
<part name="parameters" element="tns:AllStudentsResponse"/>
</message>
<message name="AllUniversity">
<part name="parameters" element="tns:AllUniversity"/>
</message>
<message name="AllUniversityResponse">
<part name="parameters" element="tns:AllUniversityResponse"/>
</message>
<message name="NumerOfUniversity">
<part name="parameters" element="tns:NumerOfUniversity"/>
</message>
<message name="NumerOfUniversityResponse">
<part name="parameters" element="tns:NumerOfUniversityResponse"/>
</message>
<message name="AllNumberOfUniversity">
<part name="parameters" element="tns:AllNumberOfUniversity"/>
</message>
<message name="AllNumberOfUniversityResponse">
<part name="parameters" element="tns:AllNumberOfUniversityResponse"/>
</message>
<message name="NumberOfStudents">
<part name="parameters" element="tns:NumberOfStudents"/>
</message>
<message name="NumberOfStudentsResponse">
<part name="parameters" element="tns:NumberOfStudentsResponse"/>
</message>
<portType name="UniversityWS">
<operation name="AllComunidadA">
<input wsam:Action="http://UniversityWS/UniversityWS/AllComunidadARequest" message="tns:AllComunidadA"/>
<output wsam:Action="http://UniversityWS/UniversityWS/AllComunidadAResponse" message="tns:AllComunidadAResponse"/>
</operation>
<operation name="InsertarCA">
<input wsam:Action="http://UniversityWS/UniversityWS/InsertarCARequest" message="tns:InsertarCA"/>
<output wsam:Action="http://UniversityWS/UniversityWS/InsertarCAResponse" message="tns:InsertarCAResponse"/>
</operation>
<operation name="AllStudents">
<input wsam:Action="http://UniversityWS/UniversityWS/AllStudentsRequest" message="tns:AllStudents"/>
<output wsam:Action="http://UniversityWS/UniversityWS/AllStudentsResponse" message="tns:AllStudentsResponse"/>
</operation>
<operation name="AllUniversity">
<input wsam:Action="http://UniversityWS/UniversityWS/AllUniversityRequest" message="tns:AllUniversity"/>
<output wsam:Action="http://UniversityWS/UniversityWS/AllUniversityResponse" message="tns:AllUniversityResponse"/>
</operation>
<operation name="NumerOfUniversity">
<input wsam:Action="http://UniversityWS/UniversityWS/NumerOfUniversityRequest" message="tns:NumerOfUniversity"/>
<output wsam:Action="http://UniversityWS/UniversityWS/NumerOfUniversityResponse" message="tns:NumerOfUniversityResponse"/>
</operation>
<operation name="AllNumberOfUniversity">
<input wsam:Action="http://UniversityWS/UniversityWS/AllNumberOfUniversityRequest" message="tns:AllNumberOfUniversity"/>
<output wsam:Action="http://UniversityWS/UniversityWS/AllNumberOfUniversityResponse" message="tns:AllNumberOfUniversityResponse"/>
</operation>
<operation name="NumberOfStudents">
<input wsam:Action="http://UniversityWS/UniversityWS/NumberOfStudentsRequest" message="tns:NumberOfStudents"/>
<output wsam:Action="http://UniversityWS/UniversityWS/NumberOfStudentsResponse" message="tns:NumberOfStudentsResponse"/>
</operation>
</portType>
<binding name="UniversityWSPortBinding" type="tns:UniversityWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AllComunidadA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarCA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AllStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AllUniversity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumerOfUniversity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AllNumberOfUniversity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumberOfStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UniversityWS">
<port name="UniversityWSPort" binding="tns:UniversityWSPortBinding">
<soap:address location="http://localhost:8080/UniversityWS/UniversityWS"/>
</port>
</service>
</definitions>